<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var materials = /*[[${materials}]]*/ '';
        var unitTypes = /*[[${unitTypes}]]*/ '';
        /*]]>*/
    </script>
    <script>
        function setUnit(id_unit) {
            var quantityLabel = $('#quantityLabel');
            quantityLabel.text(unitTypes[id_unit]);
        }
        function totalPointsCount(){
            var materialId =  parseInt($('#material').val());
            var materialValor = materials[materialId].value;
            var unitId = materials[materialId].id_unit;
            setUnit(unitId);
            var quantity = parseInt($('#quantity').val());
            if(isNaN(quantity)) return 0;
            return  quantity*materialValor;
        }
        function updateTotal(){
            var totalPoints = $('#total_points');
            console.log(totalPoints.val());
            totalPoints.val(totalPointsCount());
        }
        $(document).ready(function() {
            updateTotal();
            $( "#material" ).change(function (){
                updateTotal()
            });
            $( "#quantity" ).keyup(function (){
                updateTotal()
            });
        });

    </script>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <h1 th:text="${centro.name}">Centro</h1>
        <div class="row">
            &nbsp;
        </div>
        <h2>Reciclar</h2>
        <form action="#" th:action="@{'/admin/centros/'+${centro.id}+'/recycle'}" method="post" >
            <div class="form-group row">
                <label for="usuario" class=" col-lg-2 col-form-label">User</label>
                <div class="col-lg-3">
                    <select class="form-control" id="usuario" th:field="*{acumulatedPoints.usuario}" >
                        <option th:each="usuario: ${usuarios}"
                                th:value="${usuario.id}" th:text="${usuario.username}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="material" class="col-lg-2 col-form-label">Material</label>
                <div class="col-lg-3">
                    <select class="form-control" id="material" th:field="*{acumulatedPoints.id_material}" >
                        <option th:each="material: ${materials.values()}"
                                th:value="${material.id}" th:text="${material.description}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="quantity" id="quantityLabel" class="col-lg-2 col-form-label">Cantidad</label>
                <div class="col-lg-3">
                    <input type="number" step="1" class="form-control" id="quantity" required>
                </div>
            </div>
            <div class="form-group row">
                <label for="total_points" class="col-lg-2 col-form-label">Total puntos</label>
                <div class="col-lg-3">
                    <input type="number" step="any" min="1"  class="form-control" id="total_points" required readonly
                           th:field="*{acumulatedPoints.quantity}">
                </div>
            </div>



            <div class="col-lg-2">
                &nbsp;
            </div>
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </form>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>