<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar Not Loaded
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <h1>Registrar Centro de Acopio</h1>
    <form action="#" th:action="@{/superadmin/centros/register}" method="post" >
        <div class="form-group row">
            <label for="name" class=" col-lg-2 col-form-label"> Nombre</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" required  id="name" th:field="*{centro.name}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="longitud" class="col-lg-2 col-form-label">Longitud</label>
            <div class="col-lg-3">
                <input type="number" step="any" class="form-control" id="longitud" required
                       th:field="*{centro.longitud}">
            </div>
        </div>
        <div class="form-group row">
            <label for="latitud" class="col-lg-2 col-form-label">Latitud</label>
            <div class="col-lg-3">
                <input type="number" step="any"  class="form-control" id="latitud" required
                       th:field="*{centro.latitud}">
            </div>
        </div>

        <div class="form-group row">
            <label for="administrador" class=" col-lg-2 col-form-label">Administrador</label>
            <div class="col-lg-3">
                <select class="form-control" id="administrador" th:field="*{centro.id_administrator}" >
                    <option th:each="usuario: ${usuarios}"
                            th:value="${usuario.id}" th:text="${usuario.username}"></option>
                </select>
            </div>
        </div>

        <div class="col-lg-2">
            &nbsp;
        </div>
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </form>
</div>

<div th:replace="fragments/footer :: 'footer'">
    &copy; Footer Not Loaded
</div>

</body>
</html>