<!--source: https://wrightshq.com/playground/placing-multiple-markers-on-a-google-map-using-api-3/-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Urban Gardens')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar Not Loaded
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};
        var bounds = new google.maps.LatLngBounds();
        var mapOptions = {
            mapTypeId: 'roadmap'
        };

        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

        var markers = []
        //add markers
        /*[# th:each="centro : ${centros}"]*/
        markers.push([ /*[[ ${centro.name} ]]*/, /*[[ ${centro.latitud} ]]*/, /*[[${centro.longitud}]]*/])
        /*[/]*/
        // markers.push(['London Eye, London', 51.503454,-0.119562])

        // Info Window Content
        var infoWindowContent = [
            // ['<div class="info_content">' +
            // '<h3>London Eye</h3>' +
            // '<p>The London Eye is a giant Ferris wheel situated on the banks of the River Thames. The entire structure is 135 metres (443 ft) tall and the wheel has a diameter of 120 metres (394 ft).</p>' +        '</div>'],
            // ['<div class="info_content">' +
            // '<h3>Palace of Westminster</h3>' +
            // '<p>The Palace of Westminster is the meeting place of the House of Commons and the House of Lords, the two houses of the Parliament of the United Kingdom. Commonly known as the Houses of Parliament after its tenants.</p>' +
            // '</div>']
        ];
        /*[# th:each="centro : ${centros}"]*/
        var str = '<div class="info_content">';
        str = str + '<a href="/centros/' + /*[[ ${centro.id} ]]*/;
        str = str +'">';
        str = str + /*[[ ${centro.name} ]]*/;
        str = str + '</a></div>';
        infoWindowContent.push(str);
        /*[/]*/

        // Display multiple markers on a map
        var infoWindow = new google.maps.InfoWindow(), marker, i;

        // Loop through our array of markers & place each one on the map
        for( i = 0; i < markers.length; i++ ) {
            var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
            bounds.extend(position);
            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: markers[i][0]
            });

            // Allow each marker to have an info window
            google.maps.event.addListener(marker, 'click', (function(marker, i) {
                return function() {
                    infoWindow.setContent(infoWindowContent[i]);
                    infoWindow.open(map, marker);
                }
            })(marker, i));


            // Automatically center the map fitting all markers on the screen
            map.fitBounds(bounds);
        }

        // Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
        var listener = google.maps.event.addListener(map, "idle", function() {
            if (map.getZoom() > 16) map.setZoom(16);
            google.maps.event.removeListener(listener);
        });
    }
    /*]]>*/
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDOUAdKiiOVTra6S4qwWAYrJRCS-lQ_1O0&callback=initMap">
</script>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        <h1>La lista de Centros de Acopio</h1>
        <div id="map_wrapper">
            <div id="map_canvas" class="mapping"></div>
        </div>
    </div>
    <p>&nbsp;</p>
    <div class="row">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Latitud</th>
                <th>Longitud</th>
            </tr>
            <tr th:each="centro : ${centros}">
                <td th:text="${centro.id}">1</td>
                <td>
                    <a th:href="@{'/centros/' + ${centro.id}}" th:text="${centro.name}">Centro 1</a>
                </td>
                <td th:text="${centro.latitud}">1</td>
                <td th:text="${centro.longitud}">1</td>
            </tr>
        </table>
    </div>

</div>

<div th:replace="fragments/footer :: 'footer'">
    &copy; Footer Not Loaded
</div>

</body>
</html>