<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--<head th:fragment="headerFragment (pageTitle)">-->
<head th:fragment="headerFragment">
    <!--<title th:text="${pageTitle != null}? ${pageTitle} : 'Bandera Azul' ">Template title</title>-->
    <title>ECO-IN</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="http://code.jquery.com/jquery.js"></script>

    <!--Data Tables-->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

    <!--Datepicker-->
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/gijgo.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/js/messages/messages.es-es.js" type="text/javascript"></script>
    <link href="https://cdn.jsdelivr.net/npm/gijgo@1.9.6/css/gijgo.min.css" rel="stylesheet" type="text/css" />


    <script src="webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js"
            th:src="@{/webjars/bootstrap/4.0.0/js/bootstrap.bundle.min.js}"></script>


    <link rel="stylesheet" media="screen" href="webjars/bootstrap/4.0.0/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/4.0.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="/open-iconic/font/css/open-iconic-bootstrap.min.css"
    th:href="@{/open-iconic/font/css/open-iconic-bootstrap.min.css}"/>


    <script src="/js/script.js"
            th:src="@{/js/script.js}"></script>
    <link href="/css/style.css"
          th:href="@{/css/style.css}" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a57b31">
    <meta name="msapplication-TileColor" content="#a57b31">
    <meta name="theme-color" content="#a57b31">
</head>

<body>

</body>
</html>