<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <div class="container">

    <!--<a class="navbar-brand" href="#">Navbar</a>-->
    <a class="navbar-brand" th:href="@{/}"><img src="/logo_navbar.png" alt="logo" height="34"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/centros/" th:href="@{/centros/}">Centros de Acopio</a>
            </li>
            <li class="nav-item" sec:authorize="isAuthenticated()">
                <a class="nav-link" href="/comercios/" th:href="@{/comercios/}">Comercios</a>
            </li>


        <!--class="nav navbar-nav navbar-right"-->
            <!--Admin menus-->
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_CENTROADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCentro" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Mis Centros de Acopio
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownCentro">
                    <li class="dropdown-submenu" th:each="centro : ${#authentication.getPrincipal().getCentrosAdmin()}">
                        <a class="dropdown-item dropdown-toggle"
                           href="#"><span th:text ="${centro.name}"></span> </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/centros/'+${centro.id}+'/recycle'}">
                                Reciclar</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/centros/'+${centro.id}+'/recyclings'}">
                                Todos los reciclados</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/centros/'+${centro.id}+'/recyclings/byTypes'}">
                                Reciclados por tipos</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/centros/'+${centro.id}+'/recyclings/byUsers'}">
                                Reciclados por usuarios</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/centros/'+${centro.id}+'/recyclings/topUsers'}">
                                Top 5 usuarios </a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_COMERCIOADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownComercio" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Mis Comercios
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownComercio">
                    <li class="dropdown-submenu" th:each="comercio : ${#authentication.getPrincipal().getComerciosAdmin()}">
                        <a  class="dropdown-item dropdown-toggle" href="#" th:text ="${comercio.name}"></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/comercios/'+${comercio.id}+'/products/register'}">
                                Crear Producto</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/comercios/'+${comercio.id}+'/products'}">
                                Todos Productos</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/comercios/'+${comercio.id}+'/products/top'}">
                                Top 5 productos</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{'/admin/comercios/'+${comercio.id}+'/exchangedPoints'}">
                                Total puntos canjeados</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!--SuperAdmin menus-->
            <li class="nav-item dropdown" sec:authorize="hasRole('ROLE_SUPERADMIN')">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownSuperAdmin" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    Admin
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownSuperAdmin">
                    <li><a class="dropdown-item"
                       href="#" th:href="@{/superadmin/comercios/register}">Registrar Comercio </a></li>
                    <li><a class="dropdown-item"
                       href="#" th:href="@{/superadmin/centros/register}">Registrar Centro de Acopio </a></li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Estadísticas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/statistics/userAge}">
                                Edad de Usuarios</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/statistics/comercioType}">
                                Tipo de comercios</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/statistics/productMonths}">
                                Productos en meses</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/statistics/userPoints}">
                                    Usuarios con mayores puntajes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Consultas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/users}">Usuarios</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/users/passwordsModifications}">
                                    Claves no modificadas</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/comercios/topProducts}">
                                    Top productos</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/users/points}">
                                    Usuarios con puntos</a></li>
                            <li><a class="dropdown-item" href="#" th:href="@{/superadmin/comercios/}">Comercios Afiliados</a></li>
                        </ul>
                    </li>
                    <li><a class="dropdown-item"
                           href="#" th:href="@{/superadmin/catalogs/}">Catálogos</a></li>
                </ul>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
        <!--Login/logout-->
            <li class="nav-item" sec:authorize="isAnonymous()">
                <a class="nav-link" href="/login" th:href="@{/login}">
                    <span class="oi oi-account-login"></span>&nbsp;Login
                </a>
            </li>


            <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" href="/users/" th:href="@{'/users/'+${#authentication.getPrincipal().getPersonaId()}}">
                        <span th:text ="${#authentication.getPrincipal().getUsername()}"></span>
                    </a>
            </li>

            <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link"  href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="oi oi-account-logout"></span>
                    </a>
                    <form style="visibility:hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
            </li>
        </ul>
    </div>
    </div>
</nav>

<!--<div class="navbar navbar-inverse navbar-static-top" th:fragment="navbar">-->
         <!--<div class="navbar-collapse collapse">-->
            <!--<ul class="nav navbar-nav">-->
                <!--<li>-->
                    <!--<a href="/bandera_azul/show" th:href="@{/bandera_azul/show}">Huertas</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/bandera_azul/favorites" th:href="@{/bandera_azul/show}">Favoritos</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/market" th:href="@{/bandera_azul/show}">Venta</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="/static" th:href="@{/statistics}">Estadísticas</a>-->
                <!--</li>-->

            <!--</ul>-->
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="nav-item dropdown">-->
                    <!--<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                        <!--Dropdown-->
                    <!--</a>-->
                    <!--<div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
                        <!--<a class="dropdown-item" href="#">Action</a>-->
                        <!--<a class="dropdown-item" href="#">Another action</a>-->
                        <!--<div class="dropdown-divider"></div>-->
                        <!--<a class="dropdown-item" href="#">Something else here</a>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li sec:authorize="hasRole('ROLE_SUPERADMIN')">-->
                    <!--<a href="/admin" th:href="@{/admin}">-->
                        <!--Admin-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li sec:authorize="isAnonymous()">-->
                    <!--<a href="/login" th:href="@{/login}">-->
                        <!--<span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Login-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li sec:authorize="isAuthenticated()">-->
                    <!--<a href="/logout" th:href="@{#}" onclick="$('#form').submit();">-->
                        <!--<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout-->
                    <!--</a>-->
                    <!--<form style="visibility:hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
</body>
</html>