body { padding-bottom: 70px; }

#map_wrapper {
    height: 400px;
    width: 100%;
}

#map_canvas {
    width: 100%;
    height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}

/*stars
-------------------------*/
.star-rating {
    line-height:32px;
    font-size:1.25em;
}

.star-rating .oi-star-y{color: yellow;}

/*SUBMENU*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg);
    position: absolute;
    right: 6px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-left: .1rem;
    margin-right: .1rem;
}

/*-------------counter-------------------*/
.puntos_canjeados
{
    margin-top: 70px;
    margin-bottom: 70px;
}
.counter-count
{
    font-size: 18px;
    background-color: #00b3e7;
    border-radius: 50%;
    position: relative;
    color: #ffffff;
    text-align: center;
    line-height: 92px;
    width: 92px;
    height: 92px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: inline-block;
}

.puntos_canjeados-p
{
    font-size: 24px;
    color: #000000;
    line-height: 34px;
}

/*data tables*/
tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}