<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Página de Login')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>
<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row"><div class="col-lg-4">
            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <div th:if="${registration}">
                Registration Successful
            </div>
            <div th:if="${registration==false}">
                Registration Not Successful
            </div>


            <form th:action="@{/login}" method="post" >
                <div class="form-group">
                    <label for="username"> User Name :</label>
                    <input type="text" class="form-control" id="username" name="username"/>
                </div>
                <div class="form-group">
                    <label for="password"> Password: </label>
                    <input type="password" class="form-control" id="password" name="password"/>
                </div>
                    <button type="submit" class="btn btn-primary" >LogIn</button>
                    <a href="/register" th:href="@{/register}" class="btn btn-default">Registrar</a>
            </form>
        </div></div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>