<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <script>

        // ------date filtering
        $.fn.dataTable.ext.search.push(
            function( settings, data, dataIndex ) {
                var min =  $('#min').val();
                var max = $('#max').val();
                var dateString = data[4]; // use data for the age column
                var minDate = getDate(min);
                var maxDate = getDate(max);
                var date = getDate(dateString);
                // console.log(minDate);
                // console.log(maxDate);
                // console.log(date);
                if ( ( isNaN( minDate ) && isNaN( maxDate ) ) ||
                    ( isNaN( minDate ) && date <= maxDate ) ||
                    ( minDate <= date   && isNaN( maxDate ) ) ||
                    ( minDate <= date   && date <= maxDate ) )
                {
                    return true;
                }
                return false;
            }
        );

        $(document).ready(function() {
            $('#superadmin_passwordModifications tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
            } );

            var table = $('#superadmin_passwordModifications').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json'
                },
                initComplete: function () {
                    // Add event listeners to the two range filtering inputs
                    $('#min').datepicker({
                        uiLibrary: 'bootstrap4',
                        locale: 'es-es',
                        format: 'dd/mm/yyyy',
                        change: function (e) {
                            table.draw();
                        }
                    });
                    $('#max').datepicker({
                        uiLibrary: 'bootstrap4',
                        format: 'dd/mm/yyyy',
                        change: function (e) {
                            table.draw();
                        }
                    });
                    table.columns().every( function () {
                        var that = this;

                        $( 'input', this.footer() ).on( 'keyup change', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            } );
        } );
    </script>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <h1>Modificaciones de contraseña</h1>
        <div class="row">
            <table border="0" cellspacing="5" cellpadding="5">
                <tbody><tr>
                    <td>Fecha mínima:</td>
                    <td>
                        <input id="min" width="276" readonly/>
                    </td>
                </tr>
                <tr>
                    <td>Fecha máxima:</td>
                    <td>
                        <input id="max" width="276"  readonly/>

                    </td>
                </tr>
                </tbody></table>
            <table id="superadmin_passwordModifications" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>ID usuario</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Fecha de cambio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="usuario : ${usuarios.values()}" th:with="persona=${personas.get(usuario.idPersona)}">
                    <td>
                        <a th:href="@{'/users/' + ${usuario.id}}" th:text="${usuario.id}">111111</a>
                    </td>
                    <td th:text="${persona.cedula}">Cedula</td>
                    <td th:text="${persona.nombre}">Nombre</td>
                    <td th:text="${persona.apellido}">Apellido</td>
                    <td th:text="${usuario.username}">Username</td>
                    <td th:text="${#dates.format(passwordModifications.get(usuario.id), 'dd/MM/yyyy')}">Fecha de Cambio</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>ID usuario</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Usuario</th>
                    <th>Fecha de cambio</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>