<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <form action="#" th:action="@{/users/register}" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="username" class=" col-lg-2 col-form-label">Username</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" required  id="username" th:field="*{usuario.username}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-lg-2 col-form-label">Password</label>
                <div class="col-lg-3">
                    <input type="password" class="form-control" required id="inputPassword"
                           th:field="*{usuario.password}">
                </div>
            </div>
            <div class="form-group row">
                <label for="email" class="col-lg-2 col-form-label">Email</label>
                <div class="col-lg-3">
                    <input type="email" class="form-control" id="email" required
                           th:field="*{usuario.email}">
                </div>
            </div>
            <div class="form-group row">
                <label for="nombre" class="col-lg-2 col-form-label">Nombre</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="nombre" required
                           th:field="*{persona.nombre}">
                </div>
            </div>
            <div class="form-group row">
                <label for="apellido" class="col-lg-2 col-form-label">Apellido</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="apellido" required
                           th:field="*{persona.apellido}">
                </div>
            </div>
            <div class="form-group row">
                <label for="fechaDeNacimiento" class="col-lg-2 col-form-label">Fecha de Nacimiento</label>
                <div class="col-lg-3">
                    <input type="date" class="form-control" id="fechaDeNacimiento" required
                           th:field="*{persona.fechaDeNacimiento}">
                </div>
            </div>
            <div class="form-group row">
                <label for="pais" class="col-lg-2 col-form-label">País</label>
                <div class="col-lg-3">
                    <select class="form-control"  id="pais" required>
                        <option value="">Elige país</option>
                        <option th:each="pais : ${paises.values()}" th:value="${pais.id}"
                                th:text="${pais.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label for="provincia" class="col-lg-2 col-form-label">Provincia</label>
                <div class="col-lg-3">
                    <select class="form-control"  id="provincia" required>
                        <option value="">Elige país</option>
                    </select>
                    <script th:inline="javascript">
                    /*<![CDATA[*/
                    var provincias = /*[[${provincias.values()}]]*/ '';
                    $('#pais').change(function() {
                        var val = $(this).val();
                        $('#provincia').empty();
                        var filtered = provincias.filter(function(element) {
                            return element.id_pais == val;
                        });
                        $('#provincia').append($('<option>', {
                            value:'',
                            text: 'Elige provincia'
                        }))
                        $.each(filtered, function (i, item) {
                            $('#provincia').append($('<option>', {
                                value: item.id,
                                text : item.name
                            }))
                        });
                    });
                    /*]]>*/
                </script>
                </div>
            </div>
            <div class="form-group row">
                <label for="canton" class="col-lg-2 col-form-label">Cantón</label>
                <div class="col-lg-3">
                    <select class="form-control"  id="canton" required>
                        <option value="">Elige provincia'</option>
                    </select>
                    <script th:inline="javascript">
                    /*<![CDATA[*/
                    var cantons = /*[[${cantons.values()}]]*/ '';
                    $('#provincia').change(function() {
                        var val = $(this).val();
                        $('#canton').empty();
                        var filtered = cantons.filter(function(element) {
                            return element.id_provincia == val;
                        });
                        $('#canton').append($('<option>', {
                            value: '',
                            text: 'Elige cantón'
                        }))
                        $.each(filtered, function (i, item) {
                            $('#canton').append($('<option>', {
                                value: item.id,
                                text : item.name
                            }))
                        });
                    });
                    /*]]>*/
                </script>
                </div>
            </div>
            <div class="form-group row">
                <label for="distrito" class="col-lg-2 col-form-label">Distrito</label>
                <div class="col-lg-3">
                    <select class="form-control" required id="distrito" th:field="${persona.id_district}">
                        <option value="-1">Elige cantón</option>
                    </select>
                    <script th:inline="javascript">
                    /*<![CDATA[*/
                    var districts = /*[[${districts.values()}]]*/ '';
                    $('#canton').change(function() {
                        var val = $(this).val();
                        $('#distrito').empty();
                        var filtered = districts.filter(function(element) {
                            return element.id_canton == val;
                        });
                        $('#distrito').append($('<option>', {
                            value: '',
                            text: 'Elige distrito'
                        }))
                        $.each(filtered, function (i, item) {
                            $('#distrito').append($('<option>', {
                                value: item.id,
                                text : item.name
                            }))
                        });
                    });
                    /*]]>*/
                </script>
                </div>
            </div>

            <div class="form-group row">
                <label for="direccion" class="col-lg-2 col-form-label">Direccion</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" id="direccion" required
                           th:field="*{persona.direccion}">
                </div>
            </div>


            <div class="form-group row">
                <label for="photo" class="col-lg-2 col-form-label">Fotografía</label>
                <div class="col-lg-3">
                    <input type="file" class="form-control" id="photo" required
                           th:field="*{persona.fotografia}">
                </div>
            </div>


            <div class="col-lg-2">
                &nbsp;
            </div>
            <input type="submit" value="Registrar" class="btn btn-primary" />
        </form>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>