<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <script>
        //-----------data tables initialization------------
        $(document).ready(function() {
            // Setup - add a text input to each footer cell
            $('#superadmin_allUsers tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
            } );

            // DataTable
            var table = $('#superadmin_allUsers').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json'
                },
                initComplete: function () {
                    table.columns().every( function () {
                        var that = this;

                        $( 'input', this.footer() ).on( 'keyup change', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            } );
        } );
    </script>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <h1>Todos Usuarios</h1>
        <div class="row">
            <table id="superadmin_allUsers" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>ID Usuario</th>
                        <th>Cedula</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Distrito</th>
                        <th>Canton</th>
                        <th>Provincia</th>
                        <th>Pais</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuarios.values()}"
                        th:with="persona=${personas.get(usuario.idPersona)},
                                 id_district=${persona.id_district},id_canton=${districts.get(id_district).id_canton},
                                 id_provincia=${cantons.get(id_canton).id_provincia},
                                 id_pais=${provincias.get(id_provincia).id_pais}">
                        <td>
                            <a th:href="@{'/users/' + ${usuario.id}}" th:text="${usuario.id}">111111</a>
                        </td>
                        <td th:text="${persona.cedula}">Cedula</td>
                        <td th:text="${usuario.username}">Username</td>
                        <td th:text="${persona.nombre}">Nombre</td>
                        <td th:text="${persona.apellido}">Apellido</td>
                        <td th:text="${districts.get(id_district).name}">Distrito</td>
                        <td th:text="${cantons.get(id_canton).name}">Canton</td>
                        <td th:text="${provincias.get(id_provincia).name}">Provincia</td>
                        <td th:text="${paises.get(id_pais).name}">Pais</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID Usuario</th>
                        <th>Cedula</th>
                        <th>Username</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Distrito</th>
                        <th>Canton</th>
                        <th>Provincia</th>
                        <th>Pais</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>