<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <div class="col-lg-3">
                <img class="rounded-circle img-fluid" th:src="@{'/user/'+${persona.cedula}+'/image'}" />
            </div>
            <div class="col-lg-3">
                <h1 th:text="${persona.nombre}+' '+${persona.apellido}"></h1>
                <p>
                    <b> Fecha de nacimiento: </b> <span th:text="${#dates.format(persona.fechaDeNacimiento, 'dd-MM-yyyy')}" ></span>
                </p>
                <p>
                    <b> Email:</b> <span th:text ="${#authentication.getPrincipal().getEmail()}"></span>
                </p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>