<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <script>
        var colorArray = ['#80B300', '#6680B3',
            '#E6B333', '#3366E6', '#999966', '#B34D4D',
            '#66994D', '#B366CC', '#4D8000', '#B33300', '#CC80CC',
            '#66664D', '#991AFF', '#E666FF', '#4DB3FF', '#1AB399',
            '#E666B3', '#33991A', '#CC9999', '#B3B31A', '#00E680',
            '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
            '#FF3380', '#CCCC00', '#66E64D', '#4D80CC', '#9900B3',
            '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];
        function getChartData(statistic){
            var data = new Array();
            data[0] = new Array();
            data[1] = new Array();
            statistic.forEach(function(element) {
                data[0].push(element.percentage);
                data[1].push(element.name)
            });
            return data;
        }

    </script>
    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <h1>Edad de usuarios</h1>
        </div>

        <div class="row">
            &nbsp;
        </div>

        <div class="row">
            <table class="table col-lg-6">
                <tr>
                    <th>Grupo</th>
                    <th>Valor</th>
                    <th>Procentaje</th>
                </tr>
                <tr th:each="ageStatistic : ${ageStatistics}">
                    <td th:text="${ageStatistic.name}">1</td>
                    <td th:text="${ageStatistic.value}">1</td>
                    <td th:text="${ageStatistic.percentage}+'%'">1</td>
                </tr>
            </table>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
            <!--<canvas id="myChart" width="400" height="400"></canvas>-->
            <canvas id="edadChart" class="col-lg-6"></canvas>
            <script th:inline="javascript">
                /*<![CDATA[*/
                var ageStatistics = /*[[${ageStatistics}]]*/ '';
                var ctx = document.getElementById("edadChart").getContext('2d');
                var ageChartData = getChartData(ageStatistics);
                var data = {
                    datasets: [{
                        data: ageChartData[0],
                        backgroundColor: colorArray
                    }],
                    labels: ageChartData[1]
                };
                var ageChart = new Chart(ctx,{
                    type: 'pie',
                    data: data,
                    options: {responsive:true}
                });
                /*]]>*/
            </script>
        </div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>