<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <script>
        $(document).ready(function() {
            $('#superadmin_allComercios tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
            } );

            var table = $('#superadmin_allComercios').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json'
                },
                initComplete: function () {
                    table.columns().every( function () {
                        var that = this;

                        $( 'input', this.footer() ).on( 'keyup change', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            } );
        } );
    </script>
    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <h1>Comercios Afiliados</h1>
        <table id="superadmin_allComercios" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>Id Comercio</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Encargado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comercio : ${commercios}">
                <td>
                    <a th:href="@{'/comercios/'+${comercio.id}}" th:text="${comercio.id}">111111</a>
                </td>
                <td th:text="${comercio.name}">Name</td>
                <td th:text="${comercioTypes.get(comercio.id_tipo)}">Tipo</td>
                <td>
                    <a th:with="admin=${users.get(comercio.id_administrator)},persona=${personas.get(admin.idPersona)}"
                       th:href="@{'/users/'+${admin.id}}"
                       th:text="${persona.nombre}+' '+${persona.apellido}">111111</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>Id Comercio</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Encargado</th>
            </tr>
            </tfoot>
        </table>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>