<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>
    <script>
        $(document).ready(function() {
            $('#admin_allProducts tfoot th').each( function () {
                var title = $(this).text();
                $(this).html( '<input type="text" placeholder="Buscar '+title+'" />' );
            } );

            var table = $('#admin_allProducts').DataTable({
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json'
                },
                initComplete: function () {
                    table.columns().every( function () {
                        var that = this;

                        $( 'input', this.footer() ).on( 'keyup change', function () {
                            if ( that.search() !== this.value ) {
                                that
                                    .search( this.value )
                                    .draw();
                            }
                        } );
                    } );
                }
            } );
        } );
    </script>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <h1 th:text="${comercio.name}"></h1>
        <div class="row">
            &nbsp;
        </div>
        <div class="row">
            <table id="admin_allProducts" class="table table-striped table-bordered" style="width:100%">
                <thead>
                <tr>
                    <th>Id Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td>
                        <a th:href="@{'/admin/comercios/'+${comercio.id}+
                        '/products/'+${product.id}}" th:text="${product.id}">111111</a>
                    </td>
                    <td th:text="${product.name}">Descripcion</td>
                    <td th:text="${product.price}">Precio</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Id Producto</th>
                    <th>Descripcion</th>
                    <th>Precio</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>