<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
          <!--Content goes here-->
        <h1 th:text="${comercio.name}"></h1>
        <!--https://bootsnipp.com/snippets/5K6WW-->
        <div class="row justify-content-center">
            <div class="col-lg-5 justify-content-center" align="center">
                <div class="puntos_canjeados">
                    <p class="counter-count" th:text="${total_points}">879</p>
                    <p class="puntos_canjeados-p">Total de puntos canjeados</p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>