<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
        <h1 th:text="${comercio.name}"></h1>
        <div class="row">
            &nbsp;
        </div>
        <h2>Crear Producto</h2>
        <div class="row">
            &nbsp;
        </div>
        <form action="#" th:action="@{'/admin/comercios/'+${comercio.id}+'/products/register'}" method="post" enctype="multipart/form-data">
            <div class="form-group row">
                <label for="name" class=" col-lg-2 col-form-label">Nombre</label>
                <div class="col-lg-3">
                    <input type="text" class="form-control" required  id="name" th:field="*{product.name}"/>
                </div>
            </div>
            <div class="form-group row">
                <label for="price" class="col-lg-2 col-form-label">Precio (<span th:text="${currency}"></span>)</label>
                <div class="col-lg-3">
                    <input type="number" class="form-control" required id="price"
                           th:field="*{product.price}">
                </div>
            </div>

            <div class="form-group row">
                <label for="photo" class="col-lg-2 col-form-label">Fotografía</label>
                <div class="col-lg-3">
                    <input type="file" class="form-control" id="photo" required
                           th:field="*{product.photo}">
                </div>
            </div>


            <div class="col-lg-2">
                &nbsp;
            </div>
            <input type="submit" value="Crear" class="btn btn-primary" />
        </form>
    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>