<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar Not Loaded
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
    <h1>Registrar Comercio Afiliado</h1>
    <form action="#" th:action="@{/superadmin/comercios/register}" method="post" >
        <div class="form-group row">
            <label for="name" class=" col-lg-2 col-form-label"> Nombre</label>
            <div class="col-lg-3">
                <input type="text" class="form-control" required  id="name" th:field="*{comercio.name}"/>
            </div>
        </div>

        <div class="form-group row">
            <label for="type" class=" col-lg-2 col-form-label">Tipo de Comercio</label>
            <div class="col-lg-3">
                <select class="form-control" id="type" th:field="*{comercio.id_tipo}" required>
                    <option th:each="comercioType: ${types.entrySet()}"
                            th:value="${comercioType.key}" th:text="${comercioType.value}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="administrador" class=" col-lg-2 col-form-label">Administrador</label>
            <div class="col-lg-3">
                <select class="form-control" id="administrador" th:field="*{comercio.id_administrator}" required>
                    <option th:each="usuario: ${usuarios}"
                            th:value="${usuario.id}" th:text="${usuario.username}"></option>
                </select>
            </div>
        </div>

        <div class="col-lg-2">
            &nbsp;
        </div>
        <input type="submit" value="Registrar" class="btn btn-primary" />
    </form>
</div>

<div th:replace="fragments/footer :: 'footer'">
    &copy; Footer Not Loaded
</div>

</body>
</html>