<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Huertas Urbanas')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
    <div th:replace="fragments/navbar :: navbar">
        Navbar Not Loaded
    </div>

    <div class="container">
        <div class="row">
            &nbsp;
        </div>
          <h1 th:text="${comercio.name}"></h1>
        <div class="row">
            <div class="col-lg-1">ID:</div>
            <div class="col-lg-2" th:text="${comercio.id}"></div>
        </div>
        <div class="row">
            <div class="col-lg-1">Tipo:</div>
            <div class="col-lg-2" th:text="${comerciosTypes.get(comercio.id_tipo)}"></div>
        </div>
        <h2>Productos</h2>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                </tr>
                <tr th:each="product : ${products}">
                    <td>
                        <a th:href="@{'/comercios/'+${comercio.id}+'/products/' + ${product.id}}" th:text="${product.name}">Product 1</a>
                    </td>
                    <td th:text="${product.price}+' '+${currency}">1</td>
                </tr>
            </table>
        </div>

    </div>

    <div th:replace="fragments/footer :: 'footer'">
        &copy; Footer Not Loaded
    </div>

</body>
</html>