<!--source: https://wrightshq.com/playground/placing-multiple-markers-on-a-google-map-using-api-3/-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerFragment (pageTitle='Urban Gardens')">
    <title>Protype Title</title>
    <!-- metas, link and scripts -->
</head>

<body>
<div th:replace="fragments/navbar :: navbar">
    Navbar Not Loaded
</div>

<div class="container">
    <div class="row">
        &nbsp;
    </div>
    &nbsp;
    <div class="row">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Tipo de Comercio</th>
                <th>Encargado</th>
            </tr>
            <tr th:each="comercio : ${comercios}">
                <td th:text="${comercio.id}">1</td>
                <td>
                    <a th:href="@{'/comercios/' + ${comercio.id}}" th:text="${comercio.name}">Comercio 1</a>
                </td>
                <td th:text="${comerciosTypes.get(comercio.id_tipo)}">Ropa</td>
                <td><a th:with="user=${usuarios.get(comercio.id_administrator)}"
                       th:href="@{'/users/'+${user.id}}" th:text="${user.username}"></a> </td>
            </tr>
        </table>
    </div>
    <div class="table-responsive">
    </div>
</div>

<div th:replace="fragments/footer :: 'footer'">
    &copy; Footer Not Loaded
</div>

</body>
</html>